<html>
 <head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">
  <script src="/javascripts/modernizr.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/<%= APP_CONFIG['typekit_key'] %>.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 </head>
 <body>
  <img src="/images/bg.jpg" class="bg">
  <div id="content">
   <%= yield %>
  </div>
  <% if ENV['RACK_ENV'] == 'production' %>
   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= APP_CONFIG["google_analytics_key"] %>', 'probablythemostromanticthingever.com');
    ga('send', 'pageview');

   </script>
  <% end %>
 </body>
</html>
